/* universal selectors */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
  

:root {
    --brown-gray: #4A4A48;
}

.header {
    text-transform: uppercase;
    font-weight: 900px;
}

/* start screen html */
.start-image {
    max-width: 40em;
    max-height: 40em;
}

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
}

.start-btn {
    background-color: black;
    padding: 20px 50px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 50px;
}

.start-btn:hover {
    background-color:#4A4A48;
    transition: 0.2s ease-in-out;
}


/* selection screen */


.selection-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 90px;
    margin-top: 20px;
}

.selection-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    color: white;
    background-color: black;
    text-decoration: none;
}

.selection-box:hover {
    background-color: white;
    transition: background-color 0.5s ease-in;
}

.reveal {
    opacity: 0%;
}

.reveal:hover {
    opacity: 100%;
    transition: opacity 0.6s ease;
}




/* game.html */

.game-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}


.main-parent-container {
    position: relative;
    padding: 0;
    margin: 0;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}
  
.main-container {
    position: absolute;
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px;
    margin-bottom: -20em;
}
  
.options-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin-top: 20px;
}
  
.option-btn {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
    outline: none;
}
  
.option-btn:hover {
    background-color: rgb(199, 199, 199);
    transition: 0.2s ease-in;
    cursor:pointer;
}

